<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/pillow.png"></p>
    <p>So exciting to learn the basic mechanics of a dynamic website.</p>
<%- include('../partials/footer') %>