<%- include('../partials/header') %>
<h2>My Blog</h2>
<p>I've had this idea for a blog swimming around in my head for a long time!</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<img src="/images/blog.png" class="rounded" style="width: 150px; height: 150px; float: left;" alt="Project Screenshot">

<%- include('../partials/footer') %>
