<%- include('../partials/header') %>
<h2>Strategic Foresight</h2>
<p>Kyle Russell</p>
<p>Be proactive and design a future world you want you and your kids to live in</p>
<img src="/images/futuring.png" class="img-fluid rounded" alt="Project Screenshot">

<%- include('../partials/footer') %>
