<%- include('../partials/header') %>
<h2>My Creative Project Gallery</h2>
<p>Showcase items go here...</p>
<img src="/images/gallery.png" class="img-fluid rounded" alt="Project Screenshot">

<%- include('../partials/footer') %>
