<%- include('../partials/header') %>
<h2>Outcomes</h2>
<p>Outcomes are best seen as both physical, tangible and empirical as well as emotional and experiential</p>
<img src="/images/outcomes.png" class="img-fluid rounded" alt="Project Screenshot">

<%- include('../partials/footer') %>
